<html>
<head><title>Tienda Presupuestaria</title></head>
<body>

<h1 class="Titulo">Tienda Presupuestaria</h1>

<table>
<tr>
  <td><strong>Nombre</strong></td>
  <td><strong>Descripción</strong></td>
  <td><strong>Valor</strong></td>
</tr>
<tr>
  <td>Domio</td>
  <td>tiendapresupuestaria.com.ec
</td>
<td>$35.00 USD</td>
  
</tr>
<tr>
  <td>Plan Oro</td>
  <td>20 GB de disco duro</td>
  
</tr>

<tr>
  <td></td>
  <td>1,000 GB ancho de banda</td>
  
</tr>
<tr>
	<td></td>
	<td>100 sitios web</td>
</tr>
<tr>
	<td></td>
	<td>Bases de datos ilimitadas</td>
</tr>
<tr>
	<td></td>
	<td>Subdominios ilimitadas </td>
</tr>
<tr>
	<td></td>
	<td>Emails ilimitados</td>
</tr>
<tr>
	<td></td>
	<td>PHP 5.6-7.2</td>
</tr>
<tr>
	<td></td>
	<td>CloudLinux</td>
</tr>
<tr>
	<td></td>
	<td>Protección DDoS</td>
</tr>
<tr>
	<td></td>
	<td>Respaldos externos</td>
</tr>


<tr>
  <td>Sumatorio de Pedido</td>
</tr>
<tr>
	<td></td>
	<td>Hosting cPanel</td>
	<td></td>
</tr>
<tr>
	<td></td>
	<td>Costo dominio Anual</td>
	<td>$35.00 USD</td>
</tr>

<tr>
	<td></td>
	<td>Plan Oro</td>
	<td>$59.00 USD</td>
</tr>
<tr>
	<td></td>
	<td>Costo de instalación</td>
	<td>$0.00 USD</td>
</tr>
<tr>
	<td></td>
	<td>Total</td>
	<td>$94.00 USD Anual-Iva incluido</td>
</tr>
</table>
<h3>Nombre del dominio: tiendapresupuestaria.com.ec</h3>
<h3>Propietario: Luis Fernando Díaz Armijos</h3>

</body>
</html>